/* Variables */
/* End Variables */
/* Mixins */
.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.shallow-rounded-corners {
  -moz-border-radius: 5x;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.box-shadow {
  -webkit-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
}
.shallow-box-shadow {
  -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}
.section {
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
}
.adjacent {
  margin-left: 5px;
  margin-right: 5px;
}
/* End Mixins */
body {
  margin: 0px;
}
body h1 {
  padding: 5px;
  margin: 0px;
  text-align: center;
  color: white;
  background: #45484d;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
}
body #fizz-buzz-controls {
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
}
body #fizz-buzz-controls #sample-form {
  padding: 10px;
}
body #fizz-buzz-controls #sample-form label {
  margin: 0px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
body #fizz-buzz-controls #sample-form input {
  width: 100px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
body #fizz-buzz-controls #sample-form button {
  width: 100px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
body #fizz-buzz-container {
  display: inline-block;
  display: block;
  overflow-y: hidden;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
}
body #fizz-buzz-container .fizz-buzz-entry {
  width: 200px;
  float: left;
  margin: 10px;
  padding: 5px;
  background: white;
  -moz-border-radius: 5x;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}
body #fizz-buzz-container .fizz-buzz-entry.Fizz {
  background: pink;
}
body #fizz-buzz-container .fizz-buzz-entry.Buzz {
  background: #ffff00;
}
body #fizz-buzz-container .fizz-buzz-entry.FizzBuzz {
  background: lightgreen;
}
body #fizz-buzz-container .fizz-buzz-entry h2 {
  margin: 0px;
  text-align: center;
}
body #fizz-buzz-container .fizz-buzz-entry h3 {
  margin: 0px;
  text-align: center;
}
